.code-unittest{
    overflow: auto;
    white-space: pre-wrap;
}
.code-desc{
    padding-top: 10px;
}
body{
    background-color: #eee;
}
.mui-panel h2{
    margin-top: 0px;
    font-weight: 300;
}
#sidedrawer-list a{
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

#sidedrawer-list li.active{
    background-color: #E0E0E0;
}

#header li{
    padding-left: 15px;
    padding-right: 15px;
}

#header li a{
    color: #fff;
    font-size: 16px;
}

#header-title-span{
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-right: 120px;
}

@media (min-width: 544px){
#github-badge{
    top: 194px;
}
}

.padded-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#content-wrapper .text-panel{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*.mui-appbar{*/
    /*padding: 1px;*/
/*}*/

/**
 * Body CSS
 */
html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  /*margin-bottom: -160px;*/
  /*padding-bottom: 160px;*/
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/**
 * Side drawer CSS
 */
#sidedrawer-brand {
    text-align: center;
    font-weight:300;
}

#sidedrawer ul {
  list-style: none;
  padding-left: 0px;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer a{
  display: block;
  padding: 5px 0px 5px 15px;
  cursor: pointer;
}

#sidedrawer a:hover {
  background-color: #E0E0E0;
}

#sidedrawer a+ ul > li {
  padding: 6px 0px;
}
/*
::-webkit-scrollbar {
    width: 10px;
}
*/

/*
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
*/

